<%= stylesheet_link_tag "membership.css" %>
<%= stylesheet_link_tag "flexbox-ultralight.css" %>

<div class="membership-box">
    <section class="membership">
        <div class="membership-header">
            <h1 class="membership-title">Follow your heart</h1>
            <h2 class="membership-subtitle">Only pay per ride!</h2>
        </div>
        <div style="padding: 25px">
            <ul class="membership-list">
                <li class="membership-description">Membership fee: 0</li>
                <li class="membership-description">Ride and then pay</li>
                <li class="membership-description">I want it, I ride it</li>
            </ul>
        </div>
        <div class="membership-pay">
            <p class="membership-cost">$1</p>
            <p class="membership-text">per 30min</p>
            <button class="membership-button" role="link"type="button">Unlock</button>
        </div>
    </section>
</div>

<div class="membership-box">
    <section class="membership">
        <div class="membership-header">
            <h1 class="membership-title">The best unit price</h1>
            <h2 class="membership-subtitle">We want long term commitment</h2>
        </div>
        <div style="padding: 25px">
            <ul class="membership-list">
                <p style="height: 20px"></p>
                <li class="membership-description">We ride all the time</li>
                <li class="membership-description">No comitments!</li>
                <li class="membership-description">On the go availability</li>
            </ul>
        </div>
        <div class="membership-pay">
            <p class="membership-cost">$3</p>
            <p class="membership-text">per ride</p>
            <button class="membership-button" role="link"type="button">CHECKOUT</button>
        </div>
    </section>
</div>
