<%= stylesheet_link_tag "rent.css" %>

<h1>Ready to rent a bike?</h1>

<div class='left'>
    <%= image_tag('bikeshare.jpeg', height: '300', width: '500') %>
    <h2>Electrical Bike</h2>
</div>
<div class='right'>
    <%= image_tag('normalbike.png', height: '300', width: '500') %>
    <h2>Manual Bike</h2>
</div>

