<%= stylesheet_link_tag "membership.css", "flexbox-ultralight.css" %>

<div class="center justify-space-around">
    <div class="membership-box flexbox vertical" style="display: inline-block">
        <section class="membership">
            <div class="membership-header">
                <h1 class="membership-title">Follow your heart</h1>
                <h2 class="membership-subtitle">Only pay per ride!</h2>
            </div>
            <div style="padding: 25px">
                <ul>
                    <li class="membership-description">Membership fee: 0</li>
                    <li class="membership-description">Ride and then pay</li>
                    <li class="membership-description">I want it, I ride it</li>
                </ul>
            </div>
            <div class="membership-pay">
                <p class="membership-cost">$1</p>
                <p class="membership-text">per 30min</p>
                <button class="membership-button" role="link"type="button">checkout</button>
            </div>
        </section>
    </div>

    <div class="membership-box flexbox vertical" style="display: inline-block">
        <section class="membership">
            <div class="membership-header">
                <h1 class="membership-title">Best unit price</h1>
                <h2 class="membership-subtitle">We do long term commitment</h2>
            </div>
            <div style="padding: 25px">
                <ul>
                    <li class="membership-description">We ride all the time</li>
                    <li class="membership-description">Only $3 unlimited ride time</li>
                    <li class="membership-description">Ride and save</li>
                </ul>
            </div>
            <div class="membership-pay">
                <p class="membership-cost">$19.9</p>
                <p class="membership-text">membership fee</p>
                <button class="membership-button" role="link"type="button">checkout</button>
            </div>
        </section>
    </div>

    <div class="membership-box flexbox vertical" style="display: inline-block">
        <section class="membership">
            <div class="membership-header">
                <h1 class="membership-title">Ride the month out</h1>
                <h2 class="membership-subtitle">I want to ride my BICYCLE!</h2>
            </div>
            <div style="padding: 25px">
                <ul>
                    <li class="membership-description">1 pay for 1 month of joy</li>
                    <li class="membership-description">Ride more save more</li>
                    <li class="membership-description">Unlimited rides!!!</li>
                </ul>
            </div>
            <div class="membership-pay">
                <p class="membership-cost">$39.9</p>
                <p class="membership-text">per ride</p>
                <button class="membership-button" role="link"type="button">checkout</button>
            </div>
        </section>
    </div>
</div>  

