.header {
    overflow: hidden;
    background-color: #fad4eb;
    padding: 20px 10px;
    background-repeat: repeat;
    background-position: center top;
    background-attachment: scroll;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
  }
  
  .header a:hover {
    background-color: rgb(220, 150, 209);
    color: rgb(255, 255, 255);
  }
  
  .header a.active {
    background-color: rgb(218, 30, 255);
    color: white;
  }
  
  .header-right {
    float: center;
    font-family: "FreeMono", monospace;
  }

