html,body{
    min-width:100%;
}

.membership {
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    color: #292727;
    margin: 20px;
}

/* style for rent card\*/
#rent{
    width: 550px;
    background-color: #f98ec341;
}

.membership-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.membership-header {
    padding: 25px;
    background: #f98ec3;
    color: #ffffff;
    text-shadow: 1.5px 1.5px rgb(0 0 0 / 14%);
}

.membership-title,
.membership-subtitle {
    margin: 0;
    text-align: center;
}

.membership-title {
    font-size: 1.5em;
    font-weight: 400;
    font-weight: bolder;
}

.membership-subtitle {
    font-size: 1em;
    font-weight: 200;
}

.membership-description {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 1em;
}

.membership-description::before {
    content: "\2661";
    color: #f98ec3;
    position: absolute;
    left: 0;
}

.membership-pay {
    padding: 25px;
    border-top: 2px dashed #f98ec3;
    display: flex;
    flex-direction: column;
}

/* style for rent card payment part*/
#rent-pay{
    padding: 10px;
    border-top: 0;
}

.membership-button {
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    color: #ff93c9;
    text-shadow: 1.5px 1.5px rgb(0 0 0 / 14%);
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ff93c9;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    line-height: inherit;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-transform: uppercase;
}

.membership-button:hover {
    background-color: #ff93c9;
    color: white;
  }

.membership-cost {
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: black;
}

.membership-text {
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}