.right {
    position: absolute;
    display: block;
    right: 175px;
    top: 150px;
    width: 500px;
    padding: 10px;
}

.left {
    position: absolute;
    display: block;
    left: 175px;
    top:150px;
    width: 500px;
    padding: 10px;
}